<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="eu.supersede.dynadapt.modeladapter.queries.Model_adapter" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:eu.supersede.dynadapt.modeladapter.queries.Model_adapter" id="eu.supersede.dynadapt.modeladapter.queries.Model_adapter">
      <query-specification fqn="eu.supersede.dynadapt.modeladapter.queries.InstanceSpecificationLink"/>
      <query-specification fqn="eu.supersede.dynadapt.modeladapter.queries.InstanceOfInstanceSpecificationLink"/>
      <query-specification fqn="eu.supersede.dynadapt.modeladapter.queries.subClassOf"/>
      <query-specification fqn="eu.supersede.dynadapt.modeladapter.queries.propertiesWithType"/>
      <query-specification fqn="eu.supersede.dynadapt.modeladapter.queries.parametersWithType"/>
      <query-specification fqn="eu.supersede.dynadapt.modeladapter.queries.referencesToType"/>
      <query-specification fqn="eu.supersede.dynadapt.modeladapter.queries.getReferenceToType"/>
    </group>
  </extension>
</plugin>
