<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="eu.supersede.dynadapt.usecases.health.Health" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:eu.supersede.dynadapt.usecases.health.Health" id="eu.supersede.dynadapt.usecases.health.Health">
      <query-specification fqn="eu.supersede.dynadapt.usecases.health.authenticated_system"/>
      <query-specification fqn="eu.supersede.dynadapt.usecases.health.authenticated_user"/>
    </group>
  </extension>
</plugin>
