<script src="adaptation-dashboard/js/configuration.js"></script>

 <style>
      .jqx-grid-cell-alt {
       background: #e5e8ea;
      }
 </style>
 
<div ng-controller="configuration">
	<h1>Configuration</h1>
		<div style="float:left;" id='rbtnSupervised' ng-click="setConfiguration()"><b>Supervised Enactment</b></div>
		<div style="margin-right: 400px; float:right;" id='rbtnAutomatic' ng-click="setConfiguration()"><b>Automated Enactment</b></div>
		<br><br>
		
		<input type="text" disabled="disabled" style="width:50%;" id="typeConf" value="";>
</div>