<script src="adaptation-dashboard/js/suggested_adaptations.js"></script>
<style>
      .jqx-grid-cell-alt {
        background: #e5e8ea;
      }
 </style>
<div ng-controller="suggested_adaptations">
	<h1>Suggested Adaptations</h1>
	<table>
		<tr>
			<td><b>Model System   </b></td>
			<td><div id='jqxDropDownList'></div></td>
		</tr>
	</table>
	<br>
	<jqx-grid id="jqxGrid" jqx-create="createWidget" jqx-settings="gridSettings"></jqx-grid>
	<br>
	<jqx-button id="btnEnact" ng-click="enactSuggestedAdaptations()">Enact</jqx-button>
	<jqx-button id="btnDelete" ng-click="deleteSuggestedAdaptations()">Delete</jqx-button>
</div>