<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="eu.supersede.dynadapt.model.query.test.Atos_queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:eu.supersede.dynadapt.model.query.test.Atos_queries" id="eu.supersede.dynadapt.model.query.test.Atos_queries">
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.nodes"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.nodeArtifacts"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.artifactManifestations"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.instanceSpecificationsAsManifestationsOfNodeArtifacts"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.services"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.serviceInstances"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.configurableServiceInstances"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.serviceConfigurations"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.CMSConfigurationInstances"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.maxThreadValuesInCMSConfigurations"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.InstanceSpecificationLink"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.InstanceOfInstanceSpecificationLink"/>
      <query-specification fqn="eu.supersede.dynadapt.model.query.test.CMSInstanceToConfigurationLink"/>
    </group>
  </extension>
</plugin>
