<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.supersede.dynadapt.aom.dsl.util.objectContributions.ParseAdaptationModel"
            nameFilter="*.aspect"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.supersede.dynadapt.aom.dsl.util.actions.ParseAdaptationModelDelegate"
               id="eu.supersede.dynadapt.aom.dsl.util.actions.ParseAdaptationModel"
               label="Parse Model"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
