<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="RSYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <!-- Supersede Development Server host name -->
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL1</facility>
        <suffixPattern>%d{yyyy-MM-dd HH:mm:ss} [supersede] [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n</suffixPattern>
    </appender>
    
    <appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/supersede.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${catalina.base}/supersede_archived/supersede.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
    
    <logger name="org.springframework.web" level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RSYSLOG" />
        <appender-ref ref="FILE" />
    </logger>
    
    <logger name="org.apache" level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RSYSLOG" />
        <appender-ref ref="FILE" />
    </logger>
    
    <logger name="httpclient" level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RSYSLOG" />
        <appender-ref ref="FILE" />
    </logger>
    
    <logger name="eu.supersede" level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RSYSLOG" />
        <appender-ref ref="FILE" />
    </logger>
    
</configuration>