<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="zcu.cz/yafmt/model/fm"
            class="cz.zcu.yafmt.model.fm.FeatureModelPackage"
            genModel="model/FeatureModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="zcu.cz/yafmt/model/fc"
            class="cz.zcu.yafmt.model.fc.FeatureConfigurationPackage"
            genModel="model/FeatureModel.genmodel"/>
   </extension>

</plugin>
