<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="SupersedeDSLResource" name="New Supersede DSL Resource to be preloaded" schema="schema/eu.supersede.dynadapt.aom.dsl.extensionpoint.exsd"/>
   <extension
         point="eu.supersede.dynadapt.aom.dsl.extensionpoint.SupersedeDSLResource">
      <library
            name="UMLPrimitiveTypes"
            path="pathmap://UML_LIBRARIES/UMLPrimitiveTypes.library.uml">
      </library>
      <library
            name="EcorePrimitiveTypes"
            path="pathmap://UML_LIBRARIES/EcorePrimitiveTypes.library.uml">
      </library>
      <library
            name="XMLPrimitiveTypes"
            path="pathmap://UML_LIBRARIES/XMLPrimitiveTypes.library.uml">
      </library>
      <library
            name="JavaPrimitiveTypes"
            path="pathmap://UML_LIBRARIES/JavaPrimitiveTypes.library.uml">
      </library>
   </extension>

</plugin>
