/.MyFirstPatternProcessor.java._trace
/.MyFirstPatternQuerySpecification.java._trace
/.NodesProcessor.java._trace
/.NodesQuerySpecification.java._trace
/.ClassGeneralizationsProcessor.java._trace
/.ClassGeneralizationsQuerySpecification.java._trace
/.NodeClassesProcessor.java._trace
/.NodeClassesQuerySpecification.java._trace
/.RealizationAsGeneralizationsOfNodeClassesProcessor.java._trace
/.RealizationAsGeneralizationsOfNodeClassesQuerySpecification.java._trace
/.InstanceSpecificationAsGeneralizationsOfNodeClassesProcessor.java._trace
/.InstanceSpecificationAsGeneralizationsOfNodeClassesQuerySpecification.java._trace
/.ClassesProcessor.java._trace
/.ClassesQuerySpecification.java._trace
/.InstanceSpecificationAsGeneralizationsOfClassesProcessor.java._trace
/.InstanceSpecificationAsGeneralizationsOfClassesQuerySpecification.java._trace
/.RealizationAsGeneralizationsOfClassesProcessor.java._trace
/.RealizationAsGeneralizationsOfClassesQuerySpecification.java._trace
/.ClassRealizationsProcessor.java._trace
/.ClassRealizationsQuerySpecification.java._trace
/.RealizationsProcessor.java._trace
/.RealizationsQuerySpecification.java._trace
/.InstancesProcessor.java._trace
/.InstancesQuerySpecification.java._trace
/.MonitorsProcessor.java._trace
/.MonitorsQuerySpecification.java._trace
