<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/CarExample/CarExample.yafm"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/eu.supersede.dynadapt.poc.feature.serializer/serialization"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eu.supersede.dynadapt.dm.feature.serializer/src/eu/supersede/dynadapt/feature/serializer/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.supersede.dynadapt.feature.serializer.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/yosu/Projects/Supersede/Git/yafmt/examples/CarExample/CarExample.yafm&quot; &quot;/home/yosu/Projects/Supersede/Git/dyn_adapt/PoC/eu.supersede.dynadapt.poc.feature.serializer/serialization&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eu.supersede.dynadapt.dm.feature.serializer"/>
</launchConfiguration>
